a{
	color:none;
	text-decoration:none;
}a:hover{color:red;}
#delete_all_data{float:right;}
#icon_logo{
	width:30px; height:30px;margin:0px 2px; padding:0px;
}
#icon_logo:hover{box-shadow:0px 0px 2px green;}
.jumbotron{
	background:#222; 
	color:#ACF4ED;
	padding:5px 0px;
}

.container{
	margin:0px auto;
}
#p_balance{color:green;}
#d_balance{color:red;}
#m_balance{color:teal;}
#z_balance{color:blue;}
.col-sm-12{margin:0px auto; 
	text-align:center; box-shadow:0px 0px 5px red;
	background:#024;
}
#summary_of_meal{
	border-radius:5px; margin:0px auto;
	background:#024;font-weight:bold; width:700px;
	padding:10px 5px; color:silver; font-size:16px;
}
#m_data{
	color:red; font-size:18px; margin:0px 0px; padding:5px 5px; 
	  box-shadow:0px 0px 1px teal;
}
marquee{color:Yellow; padding:0px 10px; font-size:14px; font-weight:bold; width:800px;}
.row{
	border-left:1px solid silver;
	border-right:1px solid silver;
	margin:30px 0px 30px 0px;
}
.col-sm-5{
	min-height:380px;
}
.col-sm-7{
	min-height:380px;
	border-left:1px solid #222;
}

form{
	background:none;
	margin-top:20px;
	margin-left:10px;
	padding:10px;
}

table{
	background:none;
}

tr{
	border-radius:10px;
}
th{
	font-size:18px;
	margin:0px 10px;
	text-align:right;
}
td{
	width:200px;
	margin:0px 10px;
}
button,input[type='text'],input[type='submit'],input[type='date'],input[type='file']{
	margin:5px;
	text-align:center; font-size:14px;
	width:170px;
}
input[type='submit']:hover,button:hover{
	-webkit-box-shadow:0px 0px 2px red;
	color:black;
	text-shadow:0px 0px 2px red;
}
input[type='submit']{
	width:170px;
	font-size:16px;
	font-weight:bold;
}
select{
	width:170px;
	font-size:14px;
	margin-left:5px;
	font-weight:bold;
}

/*...................... right top 2nd box design ..............*/
#sow_head{background:none; color:#100707; font-weight:bold;}
#head_lebel{
	font-size:14px;
	text-align:center;padding:5px 0px;
	background:#024;color:white;
}
#total_meal{
	font-size:12px;
	background:silver;
}
#meal_insert_tb{

	box-shadow:0px 0px 1px #222;
	margin:0px;
	padding:0px;
}
#meal_form{
	padding:0px; margin:0px;
	background:red;
	max-width:50px;
	max-height:50px;
}

#show_all_meal_tr{
	text-align:center;
	padding:2px;
	margin:0px;
	border-bottom:1px solid #555;
}
#show_all_meal_tr:hover{
	box-shadow:0px 0px 1px green;
	border-radius:0px;
	background:lighter;
}
#show_all_meal_td{
	padding:0px; margin:0px;
	width:200px; font-size:14px; font-weight:bold;
}


input[type='number']{
	width:100px; padding:0px; margin:0px;
	text-align:center;
}
#a_link{
	width:100px;
	color:black;
	float:left;
	font-size:12px;
}
#show_t_meal{
	background:white;
}
#all_table{background:white; margin:10px 0px;}

/*..............................................................*/

#search{
	width:100px;
	margin-left:-5px;
}
#descr{
	margin-left:10px;
}
footer{
	background:#222;
	padding:1px 10px;
	text-align:center;
	margin:50px 0px 0px 0px;
	width:100%;
	height:70px;
	color:#ACF4ED;
	
}



